@use './src/global/fonts';
@use './src/global/colors';

* {
    box-sizing: border-box;
}

body {
    line-height: 160%;
    font-family: 'Jost';
    font-style: normal;
    color: colors.$textColor;
    font-size: 18px;
    font-weight: 400;
}




