@use './src/global/fonts';
@use './src/global/colors';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    line-height: 160%;
    font-family: 'Jost';
    font-style: normal;
    color: colors.$textColor;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 320px) {
    header {
        position: fixed;
        left: 0;
        width: 100%;
        transition: top 0.3s;
        /* Добавила плавный переход для анимации */
        z-index: 1000;
    }
}





