@use '../../global/colors';

.six-page__input {
    padding-left: 10px;
    width: 333px;
    height: 43px;
    border: none;
    border-radius: 5px;
    background: colors.$white;
}

.six-page_btn {
    border-radius: 5px;
    background: colors.$dark;
    width: 100%;
    max-width: 333px;
    height: 43px;
    border: none;
    cursor: pointer;
}

.six-page {
    background-color: colors.$red;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 120px;
    padding: 68px 350px;
    position: relative;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        z-index: 10;
    }

    &__title-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__vectors-images {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .vector-1 {
        width: 100%;
        height: 70px;
    }

    .vector-2 {
        height: 70px;
    }
}

@media screen and (max-width: 320px) {
    .six-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 40px;
    }

    .six-page__title-info {
        text-align: center;
        margin-top: 40px;
    }

    .six-page__subtitle {
        text-align: center;
        padding: 0 20px 0;
    }

    .six-page__info {
        gap: 10px;
    }

    .six-page__input {
        width: 300px;
        height: 60px;
    }

    .six-page_btn {
        width: 300px;
        height: 60px;
        margin-bottom: 40px;
    }

    .six-page__vectors-images {
        display: none;
    }
}