$dark: #141024;
$red: #D52027;
$white: #FFF;
$white500: rgba(255, 255, 255, 0.70);
$lastFormColor: #F6F6F6;
$background-3: #F9F9F9;
$textColor: rgba(20, 16, 36, 0.70);
$shadowColor: rgba(20, 16, 36, 0.10);