@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/static/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/static/Jost-SemiBold.ttf');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/static/Jost-Bold.ttf');
}