@use '../../global/colors';

.second-page {
    background-color: colors.$white;

    &__info {
        padding-top: 100px;
    }

    &__facts {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}