@use '../../global/colors';



.dialog-modal {
    border-radius: 15px;
    background: colors.$white;
    width: 626px;
    height: 512px;
    border: none;
    outline: none;

}

.modal-content {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

.modal-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-name {
    margin-bottom: 10px;
}

.icons {
    cursor: pointer;
}

.about-modal {
    margin-bottom: 10px;
}

.show-modal {
    cursor: pointer;
}

.close-modal {
    cursor: pointer;
    margin-left: 50px;
}

.modal-image {
    width: 100%;
    max-width: 128px;
    height: 178px;
}


.info-modal-container {
    display: none;
}

.active {
    display: block;
}

.modal-button {
    border: none;
    outline: none;
    background-color: colors.$white;
    cursor: pointer;
}

.modal-trigger-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
}

