@use '../../global/colors';

.footer {
   background-color: colors.$dark;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 80px;

   &__left {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
}

@media screen and (max-width: 320px) {
   .footer {
      position: relative;
      display: flex;
      justify-content: center;
   }

   .footer__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 86px;
   }

   .footer__right {
      position: absolute;
      top: 75px;
      left: 90px;
   }

   .footer__mini {
      text-align: center;
   }
}